{% extends "ICAPReferenceBundle:Reference:listDetailDefault.html.twig" %}

{% block reference_content %}
    <small>
        {% if reference.data.artist is defined %}
            {{ reference.data.artist|upper }}
        {% endif %}
        <p>Discography</p>
    </small>
{% endblock %}