<form method="POST" class="form-horizontal" action="{{ path('icap_reference_create_custom_field', { 'resourceId': referenceBank.id, 'id': reference.id }) }}">
    {{ form_widget(form) }}
    <input type="submit" value="{% trans %}Add{% endtrans %}" class="btn btn-default"/>
</form>