<div id="newReferenceModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">{% trans %}Choose a type{% endtrans %}</h3>
    </div>
    <div class="modal-body">
        {% include "ICAPReferenceBundle:Reference:newLightForm.html.twig" %}
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans %}Cancel{% endtrans %}</button>
        <button id="newReferenceModal-submit" class="btn btn-primary"><i class="icon-bookmark icon-white"></i> {% trans %}Create{% endtrans %}</button>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('form[name="icap_reference_choose_type"] > input[type="submit"]').hide();

            $('#newReferenceModal-submit').on('click', function () {
                //I do the "click" on submit button for keep html5 warning
                $('form[name="icap_reference_choose_type"] > input[type="submit"]').trigger('click');
            });
        });
    </script>
</div>