{% extends "ICAPReferenceBundle::layout.html.twig" %}

{% block reference_breadcrumb %}
    {{ parent() }}
    <li class="active"><i class="icon-bookmark icon-white"></i>{% trans %}New{% endtrans %}</li>
{% endblock %}

{% block reference_content %}
    <div class="container-fluid new-reference">
        <div class="row-fluid">
            <div class="span4 offset4">
                <header class="page-header">
                    <h3>{% trans %}Choose a type{% endtrans %}</h3>
                </header>
                {% include "ICAPReferenceBundle:Reference:newLightForm.html.twig"%}
            </div>
        </div>
    </div>
{% endblock %}
